
xset dpms 0 0 0
xset s 0
# setxkbmap -option	# clear all layouts
# setxkbmap -option caps:swapescape
# setxkbmap -option caps:escape
setxkbmap -option caps:ctrl_modifier
# type "nitrogen" to set wallpapers
# nitrogen --restore &
clipmenud &
# compton --backend glx --paint-on-overlay --vsync opengl-swc &
picom --backend glx --vsync &
bash "$HOME"/.local/share/csr/dual_screen.sh first

while true ; do

  load=$(cat /proc/loadavg | cut -d " " -f 3 )
  uptime=$(uptime -p)
  load_uptime="Load: ${load}; ${uptime}"

  xsetroot -name "`date '+%Y-%m-%d %H:%M:%S' ` $load_uptime"; sleep 1;\
  done &

# exec dwm
exec dwm 2> ~/.dwm.log

